@import "../base/variables.css";

.main {

  align-content: center;
  align-items: center;
  background-color: $background_color;
  display: flex;
  height: calc(100vh - 45.5px);
  justify-content: center;

  .cont {
    align-items: center;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    .clock {

      h1#hour {
        color: $secondary_color;
        font-family: $font;
        font-size: 20rem;
        font-weight: 500;
        margin: 0;
        text-align: center;
      }

      .seconds-container {
        align-content: center;
        align-items: center;
        color: $secondary_color;
        display: flex;
        justify-content: space-around;

        h5 { font-size: 5rem; }
      }
    }

    form {

      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      div {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 1fr 1fr;
      }

      select {
        background-color: $background_color;
        border: 0.1rem solid $secondary_color;
        color: $font_color;
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
      }

      input::placeholder { color: $font_color; }

      input {
        background-color: $background_color;
        border: 0.1rem solid $secondary_color;
        color: $font_color;
        font-family: $font;
        font-size: 2rem;
        outline: none;
        padding: 1rem;
        text-align: center;
      }

      input[type="button"] { box-shadow: 0px 2px 1px 0px $secondary_color; }
    }
  }
}
