@import '../base/variables.css';

.overlay{

  background-color: $background_color;
  height: calc(100vh - 45.5px);
  display: flex;
  // grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  // flex-direction: row;

  .cont{
    gap: 3rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content:center;
    h1 {
      // width: 50%;
      font-size: 20rem;
      color: $secondary_color;
      font-family: $font;
      font-weight: 500;
      text-align: center;
    }

    form {
      //  width: 50%;
      display:flex;
      flex-direction: column;
      gap: 0.5rem;
      div{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
      }
      select{
        // width: 50%;
        background-color: $background_color;
        text-align:center;
        color: $font_color;
        padding:1rem;
        border: 0.1rem solid $secondary_color;

      }
      input::placeholder {
        color: $font_color;
      }

      // input[type="button"] {
      //   width: 25%;
      // }

      input {
        // width: 50%;
        font-family: $font;
        color: $font_color;
        background-color: $background_color;
        text-align: center;
        padding:1rem;
        border: 0.1rem solid $secondary_color;
        outline: none;
      }

      input[type="button"] {
        box-shadow: 1px 2px 1px 1px $secondary_color;
        /* offset-x | offset-y | blur-radius | spread-radius | color */

      }
    }
  }
}
