@import '../base/variables.css';

.table{
  background-color: $background_table;
  border: 0.1rem solid $secondary_color;
  font-family: $font;
  margin: 0rem 10rem;
  text-align: center;

  h1{
    color: $font_color;
    margin: 2rem 4rem;
  }

  .employee{
      text-align: left;
      width: 100%;

      .employee__title{
        border: 0.5rem solid $background_table;
      }

      .employee__data{
        background-color: $table_cell;
        border: 0.5rem solid $background_table;
        color:black;
        font-size: 1.8rem;
        text-align: center;
      }

      button{
        background-color: $table_cell;
      }
  }

  .addButton{
    text-align: right;

    .button{
      background-color: $table_cell;
      margin: 2rem 1rem;
      padding: 0.5rem 6rem;
    }
  }
}

.resources{
  background-color: $background_table;
  border: 0.1rem solid $secondary_color;
  font-family: $font;
  font-size: 2rem;
  padding: 1rem;
  text-align: left;
  width: 50rem;

  .Error_title{
    color: $font_color;
    margin-top: 1rem;
  }

  .title{
    color: $font_color;
  }

  ul{
    list-style: none;
  }

  ul li::before {
    content: "\2022";
    color: $secondary_color;
    margin-left: -1rem;
  }

  li{
    color: $font_color;

    span{
      padding-left: 1rem;
    }
  }

  .form{
    display:grid;
    gap:1rem;
    grid-template-columns: 1fr;
    width: 100%;

    &__label{
      color: $font_color;
      padding: 1rem;
      width: 100%;
    }

    &__input{
      background-color: $background_table;
      color: $font_color;
      font-size: 1.5rem;
      margin-left: 1rem;
      margin: 0;
      padding: 1rem;
    }

    .field_with_errors{

      .form__input{
        width: 100%;
      }
    }

    &__select{
      background-color: $background_table;
      color: $font_color;
      padding: .6rem;
      text-align: center;
    }

    &__button{
      background-color: $background_table;
      border: 0.1rem solid $secondary_color;
      box-shadow: 0px 2px 1px 0px $secondary_color;
      color: $font_color;
      font-size: 1.5rem;
      padding: 1rem;
      width: 100%;
    }

    .col{
      display:grid;
      gap:1rem;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      margin-top: 1rem;
    }

    .row{
      display:flex;
      flex-direction: column;
      gap: 0rem;
      margin-left: 0rem;

      .form__input{
        margin-left: 0rem
      }
    }
  }
}
