<%= render "shared/header" %>

<div class="main">
  <div class="absence-container">
    <form class='date' action='absence'>
      <h1>Filter by month</h1>
      <input class="filter__input" type="month" value="MM/YYYY" name='date'>
      <input class="filter__button" type="submit" value="find">
    </form>
    <div class="absence-table">
      <table>
        <thead>
        <tr>
          <th class="filter__title">Private Number</th>
          <th class="filter__title">Name</th>
          <th class="filter__title">Company</th>
          <th class="filter__title">Absences</th>
        </tr>
      </thead>
      <tbody>
        <% @employee.each do |employee| %>
          <tr>
            <td class="filter__data"><%= employee.private_num%></td>
            <td class="filter__data"><%= employee.name%></td>
            <% company = Company.find_by(id: employee.company_id)%>
            <td class="filter__data"><%= company.name%></td>
            <td class="filter__data"><% cal_absence(employee)%></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>
