<%= render "shared/header" %>

<div class="main">
  <div class="absence-container">
    <div class="search-filter">
      <h2>Filter by month: </h2>
      <input type="month" min="2018-01" max="2025-12" value="2022-01">
    </div>
    <div class="absence-table">
      <table>
        <tr>
          <th>Employee #</th>
          <th>Name</th>
          <th>Company</th>
          <th>Absences</th>
        </tr>
        <tr>
          <td>12345</td>
          <td>Mauricio Navarro Cortes</td>
          <td>foocorp</td>
          <td>0</td>
        </tr>
        <tr>
          <td>54321</td>
          <td>Derek Ayala</td>
          <td>foocorp</td>
          <td>1</td>
        </tr>
        <tr>
          <td>34512</td>
          <td>Angel Isaac</td>
          <td>foocorp</td>
          <td>2</td>
        </tr>
        <tr>
          <td>15243</td>
          <td>Ediberto</td>
          <td>foocorp</td>
          <td>3</td>
        </tr>
      </table>
    </div>
  </div>
</div>
