
//custom
$background_color: #252525;
$heading_color: #181818;
$font_color: #FFFFFF;
$secondary_color: #00E8B0;
$background_table: #333333;
$table_cell: #C4C4C4;
//font family
$font: Consolas,monaco,monospace; 