<nav class="navbar">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1" id="logo">
      <%= image_tag "foocorp.svg" %>
    </span>

    <div class="user_admin">
      <a href="/users/logout">Log Out</a>
    </div>
  </div>
</nav>
