<nav class="navbar">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1" id="logo">
        <%= image_tag "foocorp.svg" %>
    </span>

    <div class="user_admin">
      <%= image_tag "admin.svg" %>
      <%= link_to  "login", "/users/login" %>
    </div>
  </div>
</nav>

<div class="main">
  <div class="cont">
    <div class="clock">
      <h1 id="hour"></h1>
      <div class="seconds-container">
        <h5 id="meriedem"></h5>
        <h5 id="seconds"></h5>
      </div>
    </div>
    <form action="">
      <select name="company" id="company">
        <option selected>-- Choose company --</option>
        <option value="foo-corp">Foo Corp</option>
      </select>
      <input type="text" placeholder="private code">
      <div>
        <input type="button" value="Check In">
        <input type="button" value="Check Out">
      </div>
    </form>
  </div>
</div>

<%= javascript_pack_tag 'clock' %>
