<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form">
          <label class="form__label">Name</label>
          <input class="form__input" type="text">
          <label class="form__label">Address</label>
          <input class="form__input" type="text">
          <input class="form__button" type="button" value="Save" data-bs-toggle="modal" data-bs-target="#exampleModal">
        </form>
      </div>
    </div>
  </div>
</div>
