<nav class="navbar">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1" id="logo">
        <%= image_tag "foocorp.svg" %>
    </span>

    <div class="user_admin">
      <%= image_tag "admin.svg" %>
      <a href="">Admin</a>
    </div>
  </div>
</nav>

<div class="main">
  <div class="management-container">
    <h1>Management</h1>
    <input type="button" value="Employees">
    <input type="button" value="Company branches">
  </div>
  <div class="reports-container">
    <h1>Reports</h1>
    <input type="button" value="Attendance by day">
    <input type="button" value="Average time checked in/out by month">  
    <input type="button" value="Absence report by month">
  </div>
</div>
