<%= render "shared/header" %>

<div class="main">
  <div class="table__filter">
    <h1>Filter by day <input class="filter__input" type="date" value="MM/DD/YYYY"></h1>
    <table class="filter">
      <tr>
        <th class="filter__title">Employee#</th>
        <th class="filter__title">Name</th>
        <th class="filter__title">Company</th>
        <th class="filter__title">Date</th>
        <th class="filter__title">Check-in</th>
        <th class="filter__title">Check-out</th>
      </tr>

      <tr>
        <th class="filter__data">1</th>
        <th class="filter__data">Angel Isaac</th>
        <th class="filter__data">Foo Corp</th>
        <th class="filter__data">01/18/2022</th>
        <th class="filter__data">8:00:00 am</th>
        <th class="filter__data">3:00:00 pm</th>
      </tr>

      <tr>
        <th class="filter__data">2</th>
        <th class="filter__data">Mauricio Navarro</th>
        <th class="filter__data">Foo Corp</th>
        <th class="filter__data">01/18/2022</th>
        <th class="filter__data">8:00:00 am</th>
        <th class="filter__data">3:00:00 pm</th>
      </tr>

      <tr>
        <th class="filter__data">3</th>
        <th class="filter__data">Derek Ayala</th>
        <th class="filter__data">Foo Corp</th>
        <th class="filter__data">01/18/2022</th>
        <th class="filter__data">8:00:00 am</th>
        <th class="filter__data">3:00:00 pm</th>
      </tr>

      <tr>
        <th class="filter__data">4</th>
        <th class="filter__data">Ediberto Sanchez Villalobos</th>
        <th class="filter__data">Foo Corp</th>
        <th class="filter__data">01/18/2022</th>
        <th class="filter__data">8:00:00 am</th>
        <th class="filter__data">3:00:00 pm</th>
      </tr>
    </table>
  </div>
</div>
